---
import Layout from '../layouts/Layout.astro';
import GalleryGrid from '../components/GalleryGrid';

// IMPORTANT : On force le rendu statique pour GitHub Pages
export const prerender = true; 
---

<Layout title="Galerie - CastelAPI">
  <main class="max-w-7xl mx-auto px-6 pt-12 min-h-screen">
    <div class="flex justify-between items-end mb-10 pt-10">
      <div>
        <h2 class="text-3xl md:text-4xl font-bold text-white">Galerie Communautaire</h2>
        <p class="text-slate-400 mt-2">Explorez les personnages créés par la communauté.</p>
      </div>
      <a href="/" class="hidden md:inline-flex items-center gap-2 text-indigo-600 font-semibold hover:text-indigo-800 transition-colors">
        <span>+ Créer un Nouveau</span>
      </a>
    </div>

    <GalleryGrid client:load />

  </main>
</Layout>
